spring:
  datasource:
    url: jdbc:h2:mem:stockdb
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

vendor-b:
  csv-path: D:/StockSyncService/vendorBCSV/stock.csv